<p-toast></p-toast>
<div class="admin-page">
    <p-card [header]="editmode ? 'Edit Product' : 'Add Product'" subheader="You can add or edit products here">
        <div class="p-grid mb-5">
            <div class="col-12">
                <p-toolbar>
                    <div class="p-toolbar-group-left"></div>
                    <div class="p-toolbar-group-right">
                        <p-button
                            styleClass="p-button-primary mr-2"
                            [label]="editmode ? 'Update' : 'Create'"
                            icon="pi pi-plus"
                            (onClick)="onSubmit()"
                        ></p-button>
                        <p-button styleClass="p-button-secondary" label="Cancel" icon="pi pi-arrow-circle-left" (onClick)="onCancel()"></p-button>
                    </div>
                </p-toolbar>
            </div>
        </div>
        <div class="p-grid">
            <div class="col-12">
                <form [formGroup]="form">
                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="name">Name</label><br />
                            <input formControlName="name" id="name" type="text" pInputText />
                            <small *ngIf="productForm['name'].invalid && isSubmited" class="p-error">Name is required</small>
                        </div>
                        <div class="field col">
                            <label for="brand">Brand</label><br />
                            <input formControlName="brand" id="icon" type="text" pInputText />
                            <small *ngIf="productForm['brand'].invalid && isSubmited" class="p-error">Brand is required</small>
                        </div>
                        <div class="field col">
                            <label for="price">Price</label><br />
                            <p-inputNumber formControlName="price" mode="decimal" inputId="price" [useGrouping]="false"> </p-inputNumber>
                            <small *ngIf="productForm['price'].invalid && isSubmited" class="p-error">Price is required</small>
                        </div>
                    </div>
                    <div class="formgrid grid">
                        <div class="field col-4">
                            <label for="countInStock">countInStock</label><br />
                            <p-inputNumber formControlName="countInStock" mode="decimal" inputId="countInStock" [useGrouping]="false"> </p-inputNumber>
                            <small *ngIf="productForm['countInStock'].invalid && isSubmited" class="p-error">Count in stock is required</small>
                        </div>
                        <div class="field col-4">
                            <label for="category">category</label><br />
                            <!-- https://primefaces.org/primeng/dropdown
                                because dropdown give us object value but we need only id, don't need all value
                                optionValue="id" to tell DB category id.
                            -->
                            <p-dropdown
                                [options]="categories"
                                formControlName="category"
                                optionLabel="name"
                                optionValue="id"
                                [filter]="true"
                                filterBy="name"
                                [showClear]="true"
                                placeholder="Select a Category"
                            ></p-dropdown>

                            <small *ngIf="productForm['category'].invalid && isSubmited" class="p-error">Category is required</small>
                        </div>
                        <div class="field col-4">
                            <label for="isFeatured">Is Featured</label><br />
                            <p-inputSwitch formControlName="isFeatured"></p-inputSwitch>
                        </div>
                        <div class="field col-12">
                            <label for="description">Description</label><br />
                            <textarea pInputTextarea formControlName="description" [rows]="5" [cols]="30"></textarea>

                            <small *ngIf="productForm['description'].invalid && isSubmited" class="p-error">Description is required</small>
                        </div>
                        <div class="field col-12">
                            <label for="richDescription">Product Details</label>
                            <p-editor formControlName="richDescription" [style]="{ height: '320px' }"></p-editor>
                        </div>
                        <div class="field col-12">
                            <label for="name">Main Image</label><br />
                            <input type="file" class="p-inputtext col-12" accept="image/*" (change)="onImageUpload($event)" />
                            <small *ngIf="productForm['image'].invalid && isSubmited" class="p-error">Image is required</small>
                            <div class="col-2 mt-2 pl-0">
                                <img style="width: 100%" [src]="imageDisplay" alt="" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </p-card>
</div>
